html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px; 
}

main, nav {
    max-width: 700px;
    margin: 0 auto;
}

nav {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    position: sticky;
    top: 0;
    background-color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
    text-wrap: balance;
    font-size: 52px;
}